<div id='item-booking-dates' data-unavailable="<%= @item.unavailable_dates.to_json %>">
  <% if current_user.id != @item.user_id  %>
    <%= simple_form_for [@item, @booking] do |t| %>
      <%= t.input :start_date, as: :string, required: :true, input_html: { id: "booking_start_date" } %>
      <%= t.input :end_date, as: :string, required: :true, input_html: { id: "booking_end_date" } %>
      <%= t.submit "Confirm Your Booking", class: "button bookingconfirm" %>
    <% end %>
  <% end %>
  <%= link_to "Back to Items", items_path, class: "button bookingback" %>
</div>
