<div class="container">
  <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
    <h1> Booking for <%=  @item.name %> </h1>
      <%= simple_form_for [@item, @booking] do |t| %>
        <%= t.input :start_date, as: :string, required: :true, input_html: { class: "datepicker" } %>
        <%= t.input :end_date, as: :string, required: :true, input_html: { class: "datepicker" } %>
        <%= t.submit "Confirm Your Booking", class: "btn btn-success" %>
        <%= link_to "Back to Items", items_path, class: "btn btn-primary" %>
      <% end %>
  </div>
</div>
