<div class="card">
  <div class="card-header">
    <h1>Thanks for booking <%= @item.name %></h1>
  </div>
  <div class="card-body">
    <h5 class="card-title">Your Booking Details:</h5>
    <p class="card-text">Booking start date: <%= @booking.start_date %></p>
    <p class="card-text">Booking end date: <%= @booking.end_date %></p>
    <p class="card-text">Total Cost: <%= @item.price * (((@booking.end_date - @booking.start_date).to_i) / 86400) %></p>
    <%= link_to "Back", items_path, class: "btn btn-primary" %>
  </div>
</div>
