<div class="container">
  <div class="row">
    <div>
      <% if @user.items.present? %>
      <% @user.items.each do |item| %>
      <%= item.name %>
      <% end %>
      <% else %>
      <p>You do not have any items</p>
      <%= link_to "Rent clothes", items_path, class: "button rent review" %>
      <% end %>
      <!-- Current Bookings I made -->
            <div class="card">
      <h2> My current bookings </h2>
      <% if @user_current_bookings.present? %>
      <% @user_current_bookings.each do |booking| %>
        <p>Your booking id is =<%= booking.id %></p>
        <p>Start date is <%= booking.start_date %></p>
        <p>End date is <%= booking.end_date %></p>
        <p>Price = $<%= booking.item.price %></p>
        <%= link_to "Delete booking", booking_path(booking), method: :delete, class: "btn btn-danger"%>
        <% end %>
        <% else %>
        <p>You do not have any current bookings</p>
        <% end %>
      </div>


        <!-- Past Bookings I made with Add Review button "@user_past_bookings" -->

        <div class="card">
          <h2> My past bookings </h2>
          <% if @user_past_bookings.present? %>
          <% @user_past_bookings.each do |booking| %>
          <p>Your booking id is #<%= booking.id %></p>
          <p>Start date is <%= booking.start_date %></p>
          <p>End date is <%= booking.end_date %></p>
          <p>Price = $<%= booking.item.price %></p>
          <%= link_to "Add a Review", new_booking_review_path(booking), class: "btn btn-success"%>
          <% end %>
          <% else %>
          <p>You do not have any past bookings</p>
          <% end %>

          <!-- My uploaded items bookings -->
          <div class="card">
            <h2>My items for rent</h2>
            <% if @my_items_booked.present? %>
              <% @my_items_booked.each do |booking| %>
              <p>Booking id is =<%= booking.id %></p>
              <p>Start date is <%= booking.start_date %></p>
              <p>End date is <%= booking.end_date %></p>
              <p>Price = $<%= booking.item.price %></p>
              <% if booking.review.nil? %>
              <p>This item does not have a review yet</p>
              <% else %>
              <p>Reviews<%= booking.review.content %></p>
              <% end %>
              <% end %>
              <% else %>
              <p>Your items have not been booked</p>
              <% end %>
          </div>
        </div>
    </div>
