<div class="row mt-5 mr-5 pl-2 ml-auto">
    <div class="col-12">
        <% if policy(Item).new? %>
        <%= link_to 'Add New Item', new_item_path, class: 'button rent review' %>
        <%end%>
    </div>
</div>
<div class="row row-cols-6 mt-5 ml-5 pl-4">
    <% @items.each do |item| %>
    <div class="col mr-5 mb-5 item">
        <div class="d-flex flex-column">
            <div class="item-image h-75">
                <% if item.photo.attached? %>
                <%= cl_image_tag item.photo.key, height: 800, width: 400, crop: :fit %>
                <% else %>
                <p class="text-center">Oops! This item doesn't have an image!</p>
                <% end %>
            </div>
            <div class="item-content h-25 py-3">
                <div class="d-flex justify-content-between">
                    <p class="text-muted item-name"><%= item.name %></p>
                    <span class="item-price"><%= item.price %>AUD</span>
                </div>
                <%= link_to 'Show', item_path(item), class: 'button small' %>
            </div>
        </div>
    </div>
    <%end%>
</div>