<div class="col ml-5 mt-5 show-item-container border">
    <div class="row">
        <div class="col-12">
            <h1><%= @item.name %></h1>
            <h3><%= @item.price %> AUD</h3>
        </div>
    </div>
    <div class="row mt-5 pl-3 flex-column show-item-description">
        <p class="w-75"><%= @item.description %></p>
        <div class="col pl-0">
            <% ["XS","S","M","L","XL"].each do |size| %>
            <% if size.eql?(@item.size)%>
            <span class="badge bg-dark"><%= size%></span>
            <%else %>
            <span class="badge bg-secondary"><%= size%></span>
            <%end%>
            <%end%>
        </div>
    </div>
</div>
<div class="col mt-5 show-image-container">
    <%if false %>
    <% if @item.photo.attached? %>
    <%= cl_image_tag @item.photo.key, height: 800, width: 400, crop: :fit %>
    <% else %>
    <p>Oops! This item doesn't have an image!</p>
    <% end %>
    <%end%>
    <%= image_tag('background_images/item1', class: 'show-item-image') %>
</div>
<div class="col show-button-container mt-5 ml-2">
    <div class="row" style="height: 10%">
        <div class="col" style="flex: 0 0 50%">
            <h2>Reviews</h2>
        </div>
        <div class="col" style="flex: 0 0 50%"><%= link_to 'Add a review', new_item_review_path(@item), class: "button review" %></div>
    </div>

    <div class="row justify-content-center" style="height: 80%">
        <% if @item.reviews.exists? %>
        <% @item.reviews.each do |review| %>
        <p><%= ':star:ï¸' * item.rating %> - <%= review.content %></p>
        <% end %>
        <% else %>
        <p class="align-self-center">This item has no reviews</p>
        <% end %>
    </div>
    <div class="row" style="height: 10%">
        <div class="col" style="flex: 0 0 50%"><%= link_to "Rent", new_item_booking_path(@item), class: "button review rent" %></div>
        <div class="col" style="flex: 0 0 50%"><%= link_to "My collections", root_path, class: "button review" %></div>
        <div class="container my-5">
            <div class="row">
                <div class="col-6 mx-auto">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <div class="card-body">
                                <li class="list-inline-item">
                                    <% if @item.photo.attached? %>
                                    <%= cl_image_tag @item.photo.key, height: 800, width: 400, crop: :fit %>
                                    <% else %>
                                    <p>Oops! This item doesn't have an image!</p>
                                    <% end %>
                                </li>
                            </div>
                            <h5 class="card-title"><%= @item.name %></h5>
                            <p class="card-text"><%= @item.description %></p>
                            <p class="card-text"><%= @item.size %></p>
                            <p class="card-text"><%= @item.price %></p>
                            <ul> <% @item.categories.each do |category| %>
                                <li><%= category.name %></li>
                                <% end %>
                            </ul>
                            <div class="d-flex">
                                <%= link_to "Back to Items page", root_path, class: "btn btn-primary" %>
                            </div>
                            <div class="card-body">
                                <h2>Reviews</h2>
                                <%= link_to 'Add a review', new_item_review_path(@item) %>
                                <% if @item.reviews.exists? %>
                                <% @item.reviews.each do |review| %>
                                <div class="d-flex justify-content-between">
                                    <% review.rating.times do %>
                                    <i class="fas fa-star"></i>
                                    <%end%>
                                    <p><%= review.content %></p>
                                </div>
                                <% end%>
                                <% else %>
                                <p>This item has no reviews</p>
                                <% end %>

                            </div>

                        </div>
                    </div>
                    <div class="dflex">
                        <div class="card-body">
                            <%= link_to "Back to Items page", root_path, class: "btn btn-primary" %>
                            <%= link_to "Rent It!", new_item_booking_path(@item), class: "btn btn-success" %>
                        </div>
                    </div>
                </div>


            </div>

        </div>