<div class="container">
    <div class="row">
        <div class="col-6 mx-auto">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><%= @item.name %></h5>
                    <p class="card-text"><%= @item.description %></p>
                    <p class="card-text"><%= @item.size %></p>
                    <p class="card-text"><%= @item.price %></p>
                </div>
            </div>
        </div>
    </div>
  <%= link_to "Back to Items page", root_path, class: "btn btn-primary" %>
  <%= link_to "Rent It!", new_item_booking_path, class: "btn btn-success" %> 
</div>
