<div class="container">
  <div class="row">
    <div class="col-6 mx-auto">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= @item.name %></h5>
          <p class="card-text"><%= @item.description %></p>
          <p class="card-text"><%= @item.size %></p>
          <p class="card-text"><%= @item.price %></p>
          <ul> <% @item.categories.each do |category| %>
                 <li><%= category.name %></li>
                <%end%>
          </ul>
          <div class="d-flex">
            <%= link_to "Back to Items page", root_path, class: "btn btn-primary" %>
          </div>
          <div class="card-body">
            <h2>Reviews</h2>
            <%= link_to 'Add a review', dashboard_path %>
            <% if @item.reviews.exists? %>
            <% @item.reviews.each do |review| %>
            <p><%= ':star:ï¸' * item.rating %> - <%= review.content %></p>
            <% end %>
            <% else %>
            <p>This item has no reviews</p>
            <% end %>
          </div>
          <div class="card-body">
            <li class="list-inline-item">
              <%= cl_image_tag @item.photo.key, height: 200, width: 200, crop: :fit %>
            </li>
          </div>
    </div>
  </div>
  <div class="dflex">
      <div class="card-body">
      <%= link_to "Back to Items page", root_path, class: "btn btn-primary" %>
      <%= link_to "Rent It!", new_item_booking_path(@item), class: "btn btn-success" %>
    </div>
    </div>
</div>

</div>

</div>


