<h1>New review for <%= @item.name %></h1>
<div>
  <%= simple_form_for [@item, @review] do |f| %>
  <%= f.input :content %>
  <%= f.input :rating, collection: (0..5) %>
  <%= link_to 'Cancel', item_path(@item) %>
  <%= f.submit "Submit" %>
  <% end %>
</div>
