<!DOCTYPE html>
<html>

<head>
    <title>Fashionista</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'%>
</head>

<body>
    <div class="container-fluid page-container">
        <div class="row">
            <div class="col-12">
                <%= render "shared/navbar" %>
            </div>
        </div>
        <div class="row flex-grow-1 h-100">
            <div class="col-3 ml-5">
                <% if current_user %>
                <h6>Welcome, <%= current_user.email %>!</h6>
                <% end %>
            </div>
            <%= yield %>
            <div class="col-3">
                <% if !notice.nil? %>
                <p class="notice"><%= notice %></p>
                <% end %>
                <% if !alert.nil? %>
                <p class="alert"><%= alert %></p>
                <% end %>
            </div>
        </div>
    </div>
    </div>
</body>

</html>